---
---

<div class="flex justify-center">
    <div class="px-4 w-full">
        <form
            action="mailto:wedding@bifulco.dev"
            method="post"
            enctype="multipart/form-data"
            name="Anmeldung zur Hochzeit"
        >
            <div class="form-control">
                <label for="name" class="label">
                    <span class="label-text">Name</span>
                </label>
                <input
                    id="name"
                    type="text"
                    placeholder="Name"
                    class="input input-bordered focus:input-primary"
                />
            </div>
            <div class="form-control">
                <label class="label cursor-pointer">
                    <span class="label-text">Ich nehme teil</span>
                    <input
                        name="teilnahme"
                        type="checkbox"
                        class="toggle toggle-primary"
                        checked
                    />
                </label>
            </div>
            <div class="form-control">
                <label class="label cursor-pointer">
                    <span class="label-text"
                        >Ich wünsche ein Fleischgericht</span
                    >
                    <input
                        name="fleischgericht"
                        type="checkbox"
                        class="toggle toggle-primary"
                        checked
                    />
                </label>
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Anzahl Personen</span>
                    <div class="ml-6 flex-grow">
                        <input
                            name="personen"
                            type="range"
                            min="1"
                            max="5"
                            value="2"
                            class="range range-primary"
                            step="1"
                        />
                        <div class="w-full flex justify-between text-xs px-2">
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                        </div>
                    </div>
                </label>
            </div>
            <div class="form-control mt-6">
                <button class="btn btn-primary">Anmelden</button>
            </div>
        </form>
    </div>
</div>
