<div id="location" class="block">
    <div class="py-10 text-center px-4">
        <h2 style="font-family: marck script" class="text-4xl mb-4">Location</h2>
        <p>Unsere Trauung findet im Grand National Luzern statt.</p>
    </div>
    <div>
        <div class="h-96 w-full flex-1" id="grand-national-map"></div>
    </div>
</div>

<script>
    import { Loader } from "@googlemaps/js-api-loader";
    const loader = new Loader({
        apiKey: "AIzaSyA70TNtUIEhOeqr71tDGXkeh1-frxL3tVI",
        version: "weekly",
        language: "de",
        region: "CH",
    });
    loader.load().then(() => {
        const coordinates = { lat: 47.0554823018069, lng: 8.315764469314892 };
        const map = new (window as any).google.maps.Map(
            document.getElementById("grand-national-map"),
            {
                center: coordinates,
                zoom: 14,
                mapId: "aeb0309c275c17ce",
            }
        );

        new (window as any).google.maps.Marker({
            position: coordinates,
            title: "Grand National Lucerne",
            map,
        });
    });
</script>
