---
export interface Props {
    alt: string;
    src: string;
    subtractHeight?: string;
}

const { alt, src, subtractHeight = "0px" } = Astro.props;
---

<div class="relative">
    <img src={src} alt={alt} />
    <div
        style="font-family: marck script"
        class="absolute top-0 left-0 w-full h-full flex flex-col items-center text-primary mt-5"
    >
        <div class="text-5xl font-bold">Joelle & Alex</div>
        <p class="pt-2 text-primary text-2xl">26.08.2023</p>
    </div>
</div>

<style lang="scss" define:vars={{ subtractHeight }}>
    div {
        img {
            width: 100%;
            height: calc(100vh - var(--subtractHeight));
            object-fit: cover;
            object-position: center center;
            display: block;
        }
    }
</style>
