---
export interface Props {
    time: string;
    title: string;
}

const { time, title } = Astro.props;
---

<li class="mb-10 ml-10">
    <span
        class="absolute font-bold flex items-center justify-center w-12 h-8 rounded-full -left-[28px] bg-primary"
        style="font-family: marck script"
    >
        {time}
    </span>
    <h3 class="pt-2 leading-tight">{title}</h3>
</li>
