---
import Layout from '../../layouts/Layout.astro';
import Step from '../../components/Step.astro';
import StepItem from '../../components/StepItem.astro';
---

<Layout>
    <div class="py-10 px-6 sm:px-4">
        <h1 class="text-4xl mb-4 text-center" style="font-family: marck script">Tagesablauf</h1>
        <p class="text-center">Während der Zeremonie werden wir darum bitten, dass alle Handys eingesammelt werden. Während dieser Zeit gilt ein Handyverbot, um die Atmosphäre ungestört und feierlich zu halten. Ausnahmen gelten lediglich für Gäste, die aus gesundheitlichen Gründen (z.B. für medizinische Messungen) oder aufgrund von Dienstverpflichtungen darauf angewiesen sind, ihre Handys bei sich zu tragen. Nach der Hochzeit werden wir euch Fotos und Videos zur Verfügung stellen.</p>
        <p class="text-center mt-2">Vielen Dank für euer Verständnis und eure Kooperation.</p>
        <div class="flex justify-center mt-8">
            <div>
                <Step>
                    <StepItem time="13:00" title="Start der Willkommensgetränke"></StepItem>
                    <StepItem time="13:30" title="Gäste nehmen ihre Plätze ein"></StepItem>
                    <StepItem time="14:00" title="Zeremonie"></StepItem>
                    <StepItem time="15:00" title="Aperitif & Gruppenfotos"></StepItem>
                    <StepItem time="16:30" title="Eröffnung Speisesaal"></StepItem>
                    <StepItem time="17:30" title="Einzug des Brautpaares zum Einzugslied"></StepItem>
                    <StepItem time="17:45" title="Willkommensrede des Brautpaares"></StepItem>
                    <StepItem time="18:00" title="Vorspeise"></StepItem>
                    <StepItem time="18:30" title="Gäste-Slot"></StepItem>
                    <StepItem time="18:45" title="Hauptgang"></StepItem>
                    <StepItem time="19:15" title="Gäste-Slot"></StepItem>
                    <StepItem time="20:00" title="Dessert und Hochzeitstorte"></StepItem>
                    <StepItem time="20:40" title="Gäste-Slot"></StepItem>
                    <StepItem time="21:00" title="Vater-Tochter-Tanz"></StepItem>
                    <StepItem time="21:30" title="Hochzeitstanz"></StepItem>
                    <StepItem time="22:00" title="Eröffnung der Bar + Party + DJ"></StepItem>
                </Step>

                <h1 class="text-4xl mt-16 mb-4 text-center" style="font-family: marck script">Gruppenfotoablauf</h1>
                <Step>
                    <StepItem time="15:05" title="Brautpaar + Alle"></StepItem>
                    <StepItem time="15:10" title="Brautpaar + Trauzeugen"></StepItem>
                    <StepItem time="15:15" title="Brautpaar + Brautjungfern und Groomsmen (ohne Partner)"></StepItem>
                    <StepItem time="15:20" title="Brautpaar + Freunde Joelle + Partner + Kindern"></StepItem>
                    <StepItem time="15:25" title="Brautpaar + Freunde Alex + Partner + Kindern"></StepItem>
                    <StepItem time="15:30" title="Brautpaar + Göttis/Gotte von Joelle"></StepItem>
                    <StepItem time="15:35" title="Brautpaar + Tante und Onkel von Joelle"></StepItem>
                    <StepItem time="15:40" title="Brautpaar + Cousinen von Joelle"></StepItem>
                    <StepItem time="15:45" title="Brautpaar + Familie Joelle"></StepItem>
                    <StepItem time="15:50" title="Brautpaar + Familie Joelle + Familie Alex"></StepItem>
                    <StepItem time="15:55" title="Brautpaar + Familie Alex"></StepItem>
                    <StepItem time="16:00" title="Brautpaar + Geschwister Joelle"></StepItem>
                    <StepItem time="16:05" title="Brautpaar + Geschwister Alex"></StepItem>
                    <StepItem time="16:10" title="Brautpaar + Eltern Joelle"></StepItem>
                    <StepItem time="16:15" title="Brautpaar + Eltern Alex"></StepItem>
                </Step>
            </div>
        </div>
    </div>
</Layout>
