---
import '@fontsource/cardo';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
		<title>Joelle ❤️ Alexander</title>
		<link href="/styles/reset.css" rel="stylesheet">
	</head>
	<body>
		<header>
			<ul>
				<li><a href="#location">Location</a></li>
			</ul>
		</header>
		<slot />
		<footer></footer>
	</body>
</html>

<style lang="scss">
	header {
		background-color: orange;
		text-align: center;
		height: 64px;
	}

	ul {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
  		justify-content: center;
		height: 100%;

		li {
			list-style-type: none;
		}
	}
</style>

<style is:global>
	body {
		font-family: Cardo, Arial;
	}
</style>