---
import '@fontsource/cardo';
import '@fontsource/marck-script';
import Footer from './Footer.astro';
import Header from './Header.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={ Astro.generator } />
		<title>Joelle ❤️ Alexander</title>
	</head>
	<body>
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>

<style global>
	html {
		font-family: cardo, Arial, Helvetica, sans-serif;
		font-size: 18px;
	}
</style>