---
import Layout from "../../layouts/Layout.astro";
import Accordion from '../../components/Accordion.astro';
---

<Layout>
    <div class="mt-[-18px]">
        <Accordion title="Kleiderordnung" checked={true}>
            <p>Liebe Freunde und Familie,</p>

            <p>wir freuen uns ausserordentlich, euch zu unserer kommenden Hochzeit einzuladen. Dieser Tag wird für uns von besonderer Bedeutung sein, an dem wir unsere Liebe und unser Glück miteinander teilen möchten. Um diesen Anlass gebührend zu zelebrieren, würden wir uns über eure Unterstützung freuen, indem ihr elegante Anzüge und stilvolle Kleider tragt.</p>

            <p>Unsere Hochzeit wird von einer eleganten und stilvollen Atmosphäre geprägt sein, und wir sind davon überzeugt, dass Anzüge und schicke Kleider dazu beitragen werden, diese festliche Stimmung zu unterstreichen. Wir wissen, dass ihr alle über eine fantastische Garderobe verfügt, die euren individuellen Stil betont, und wir sind zuversichtlich, dass ihr in Anzügen und Kleidern einfach grossartig aussehen werdet.</p>

            <p>In Bezug auf die Kleiderwahl möchten wir euch bitten, auf Weiss oder Rot zu verzichten.</p>
        </Accordion>

        <Accordion title="Menü">
            <h3 class="text-2xl">Apero</h3>
            <div class="m-4">
                <p>*** Chips & Nüsse ***</p>
                <p>*** Oliven ***</p>
                <p>*** Medjoul-Datteln gefüllt mit Mandeln ***</p>
                <p>*** Ziegenkäse im Speckmantel ***</p>
                <p>*** Klassische Kartoffeltortilla ***</p>
                <p>*** Krevetten al Ajillo ***</p>
            </div>

            <h3 class="text-2xl">Fleischmenü</h3>
            <h4 class="text-lg mt-4">Vorspeise</h3>
            <div class="m-4">
                <p>*** Grillierter Hummer ***</p>
            </div>
            <h3 class="text-lg">Hauptgang</h3>
            <div class="m-4">
                <p>*** Schweizer Rinds Entrecôte ***</p>
            </div>

            <h3 class="text-2xl">Vegi/Vegan-Menü</h3>
            <h4 class="text-lg mt-4">Vorspeise</h3>
            <div class="m-4">
                <p>*** Caprese mit Mozzarella und verschiedenfarbigen Tomaten ***</p>
            </div>
            <h3 class="text-lg">Hauptgang</h3>
            <div class="m-4">
                <p>*** Risotto mit Marktgemüse ***</p>
            </div>

            <h3 class="text-2xl">Dessert</h3>
            <div class="m-4">
                <p>*** Buffet + Hochzeitstorte ***</p>
            </div>

            <p>* Die Auflistung der vegetarischen Menüs wird noch nachgeführt.</p>
        </Accordion>
    </div>
</Layout>