---
import Layout from "../../layouts/Layout.astro";
import Accordion from '../../components/Accordion.astro';
---

<Layout>
    <Accordion title="Kleiderordnung">
        <p>
            Liebe Freunde und Familie,<br />
            wir freuen uns sehr, euch zu unserer bevorstehenden Hochzeit einzuladen. Es wird ein besonderer Tag sein, an dem wir unsere Liebe und unser Glück miteinander teilen möchten. Um diese Gelegenheit angemessen zu feiern, würden wir uns über eure Unterstützung freuen, indem ihr Anzüge tragt.
            Unsere Hochzeit wird ein elegantes und stilvolles Ereignis sein, und wir glauben, dass Anzüge dazu beitragen werden, eine festliche Atmosphäre zu schaffen. Wir wissen, dass ihr alle wunderbare Kleidung habt, die euren persönlichen Stil unterstreicht, und wir sind zuversichtlich, dass ihr in einem Anzug absolut fantastisch aussehen werdet.
        </p>
    </Accordion>

    <Accordion title="Menü">
        <h3 class="text-xl">Apero</h3>
        <div class="m-4">
            <p>*** Chips & Nüsse ***</p>
            <p>*** Oliven ***</p>
            <p>*** Medjoul-Datteln gefüllt mit Mandeln ***</p>
            <p>*** Ziegenkäse im Speckmantel ***</p>
            <p>*** Klassische Kartoffeltortilla ***</p>
            <p>*** Krevetten al Ajillo ***</p>
        </div>

        <h3 class="text-xl">Vorspeise</h3>
        <div class="m-4">
            <p>*** Grillierter Hummer ***</p>
        </div>
        <h3 class="text-xl">Hauptgang</h3>
        <div class="m-4">
            <p>*** Schweizer Rinds Entrecôte ***</p>
        </div>

        <h3 class="text-xl">Dessert</h3>
        <div class="m-4">
            <p>*** Buffet + Hochzeitstorte ***</p>
        </div>

        <p>* Die Auflistung der vegetarischen Menüs wird noch nachgeführt.</p>
    </Accordion>

    <Accordion title="Tagesablauf">
        Die Zeremonie wird um 14:00 Uhr in vollem Glanz erstrahlen! Anschliessend werden wir uns entweder draussen bei strahlendem Sonnenschein oder bei schlechtem Wetter in einer gemütlichen Indoor-Location zum Aperitif versammeln. Um 17:00 Uhr ist es dann Zeit, unsere Geschmacksknospen mit einem gemeinsamen Festmahl zu verwöhnen. Doch das ist noch nicht alles! Zwischendurch erwarten euch immer wieder aufregende kleine Events, die für Begeisterung sorgen werden. Und schliesslich heisst es: Alle zusammen feiern! Doch das ist noch nicht das Ende – am nächsten Morgen erwartet die Übernachtungsgäste ein leckeres Frühstück, um den Tag gebührend zu beginnen.
    </Accordion>
</Layout>